<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/submit-form">
        Hora:<br>
        <input id="hour" type="input"  name="hour"
            min="0:00" max="23:59" required pattern="[0-9]{2}:[0-9]{2}">
        <br>
        Idioma:<br>
        <select id="language" name="language">
            <option value="es">Español</option>
            <option value="us">Ingles</option>
            <option value="fr">Frances</option>
        </select>
        <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>